
@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario Cliente</h2>




<fieldset>
    <legend>Mantendor Cliente</legend>
    @using (@Html.BeginForm("Guardar", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="form-group">
            <span class="col-md-2">
                Rut
            </span>
            <span class="col-md-6">
                @Html.TextBox("rut", null, new { @class = "form-control" })
            </span>
        </div>



        <div class="form-group">
            <span class="col-md-2">
                Nombre
            </span>
            <span class="col-md-6">
                @Html.TextBox("nombre", null, new { @class = "form-control" })
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Apellido
            </span>
            <span class="col-md-6">
                @Html.TextBox("apellido", null, new { @class = "form-control" })
            </span>
        </div>

        <div class="form-group">
            <span class="col-md-2">
                Tipo Cliente
            </span>
            <span class="col-md-6">
                @Html.DropDownList("tipocliente", new List<SelectListItem>
                    {
                        new SelectListItem{Text="Contado", Value="Contado"},
                        new SelectListItem{Text="Efectivo", Value="Efectivo"},
                         new SelectListItem{Text="Credito", Value="Credito"},
                          new SelectListItem{Text="Documento", Value="Documento"},

                    },
                                                 new { @class = "form-control" }
                                                 )
            </span>
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar formulario</button>
        </div>

    }

</fieldset>

